.grid-pane {
    -fx-font-size: 14px;
    -fx-font-family: "Aptos";
}

.label-default {
    -fx-font-weight: bold;
}

.text-field {
    -fx-pref-width: 200px;
    -fx-pref-height: 25px;
    -fx-padding: 10px
}

.button {
    -fx-background-color: #318B3B;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px 15px;
}

.button:hover {
    -fx-background-color: #18491B;
}

.check-box {
    -fx-font-size: 15px;
}

.heading-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 10;
}

.world-label {
    -fx-font-family: "Aptos";
    -fx-font-size: 40px;
    -fx-padding: 10px;
}