.grid-pane {
    -fx-scale-x: 1; /* Powiększa szerokość siatki */
    -fx-scale-y: 1; /* Powiększa wysokość siatki */
    -fx-min-width: 100;
    -fx-max-height: 100;
    -fx-padding: 10;
}

.left-vbox {
    -fx-padding: 10;
    -fx-alignment: center;
}