.border-pane{
    -fx-background-color: #a7bfb5;
}

.grid-pane {
    align-content: center;
}

.left-scrollpane{
    -fx-background-color: #c5d9d0;
    -fx-border-color: transparent;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
    -fx-border-radius: 40;
}

.left-scrollpane .viewport {
    -fx-background-color: #c5d9d0;         /* bez tego tło nie działało */
}

.left-scrollpane .content {
    -fx-background-color: #c5d9d0;         /* Tło zawartości, np. VBox */
}

.left-vbox {
    -fx-alignment: bottom;
    -fx-background-color: #c5d9d0;
}

.parameter-label{
    -fx-padding: 3 7 0 7;
    -fx-text-alignment: left;
    -fx-font-size: 18;
    -fx-max-width: 180;
}

.parameter_category-label{
    -fx-padding: 7 7 0 7;
    -fx-text-alignment: left;
    -fx-font-size: 18;
    -fx-max-width: 180;
}

.title-label{
    -fx-padding: 7 7 0 7;
    -fx-text-alignment: center;
    -fx-font-size: 21px;
    -fx-max-width: 120;
}

.stop-button {
    -fx-background-color: #bf0d0d;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 7px 13px;
}

.stop-button:hover {
    -fx-background-color: #9e0707;
}

.bottom-button {
    -fx-background-color: #318B3B;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 7px 13px;
}

.bottom-button:hover {
    -fx-background-color: #18491B;
}

